# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Seguridad y Autenticación JWT
JWT_SECRET=super_secret_key_asistencia_fotocheck_2026_jwt_token
JWT_EXPIRES_IN=8h

# Clave Maestra de API para Sistemas Externos (ERP / Planillas)
API_INTEGRATION_KEY=ag_erp_live_key_982347102938471209384

# Configuración de Base de Datos
DB_FILE=database/asistencia.db

# Configuración de Empresa / Organización
COMPANY_NAME=CORPORACIÓN GLOBAL TECH S.A.C.
COMPANY_RUC=20601234567
COMPANY_ADDRESS=Av. Empresarial 1234, Centro Financiero
